div.td_active_description {
    margin: 20px 0;
    background-color: rgb(247, 242, 236);
}

div.td_active_description ul{
    border-left-color: rgb(214, 17, 0);
    border-right-color: rgb(214, 17, 0);
    border-left-style: dotted;
    border-left-width: 6px;
    border-right-style: dotted;
    border-right-width: 6px;
    padding: 18px;
    background-color: transparent;
}

div.td_active_description ul li{
    font-size: 1.2em;
    padding: 10px;
    color: #DF0024;
}

div.td_title .title_style_1{
    font-family: "Helvetica Neue";
    color: #d61100;
    font-size: 3em;
    line-height: 1em;
    font-weight: bolder;
    vertical-align: middle;
}

div.td_title .title_style_2{
    color: #000000;
    font-size: 2em;
    line-height: 1em;
    font-weight: bolder;
    vertical-align: middle;
}

div.td_title .title_style_3{
    color: #d61100;
    font-size: 2em;
    line-height: 1em;
    font-weight: bolder;
    vertical-align: middle;
}

img.td_show_image {
    box-sizing: border-box;
    border: 0.3em solid white;
    box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;
    height: auto !important;
}

img.td_show_image_2 {
    box-sizing: border-box;
    /*border: 0.3em solid white;*/
    /*box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;*/
    height: auto !important;
}

div.td_part_001_3 {
    width: 985px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: rgb(214, 17, 0);
}

div.td_part_001_3 .td_header {
    width: 1.2em;
    height: 5px;
    background-color: rgb(214, 17, 0);
}

div.td_part_001_3 .td_content {
    width: 100%;
    background: -webkit-linear-gradient(
            right,
            rgba(158, 158, 156, 0.34902),
            rgba(255, 247, 234, 0) 30%)
            rgba(174, 81, 81, 0);
    text-align: left;
}

div.td_part_001_3 .td_content p{
    font-size: 1.2em;
    padding: 5px 0 5px 10px;
}

div.td_part_001_3 .td_footer {
    width: 1.2em;
    height: 5px;
    background-color: rgb(214, 17, 0);
}

img.td_part_001_3_decorator {
    box-sizing: border-box;
    width:100%;
    margin-top: -10px;
    height: auto !important;
    text-align: left;
}

div.td_text_1 {
    font-size: 1.2em;
    padding: 10px 0 10px 10px;
}

div.td_text_2 {
    font-size: 1.2em;
    text-align: left;
    padding: 10px 0 10px 10px;
    line-height: 30px;
}

div.td_text_1 span{
    color: rgb(249, 110, 87);
}

div.td_text_2 span{
    color: rgb(249, 110, 87);
}

div.td_split {
     height: 5px;
     background-color: rgb(214, 17, 0);
     margin-bottom: 10px;
}

div.td_split_2 {
    height: 2px;
    background-color: rgb(214, 17, 0);
    margin-bottom: 2px;
}

div.td_active_title_2 {
    font-size: 1.5em;
    padding: 10px;
}

div.td_text_1 a{
    color: rgb(214, 17, 0);
}